$background: #292D3E;
$foreground: #A6ACCD;
$text: #676E95;
$selectionBackground: #717CB470;
$selectionForeground: #FFFFFF;
$buttons: #303348;
$secondBackground: #34324a;
$disabled: #515772;
$contrast: #202331;
$active: #414863;
$border: #2b2a3e;
$highlight: #444267;
$tree: #676E95;
$notifications: #202331;
$accent: #ab47bc;
$excludedFilesColor: #2f2e43;

$green : #c3e88d;
$yellow : #ffcb6b;
$blue : #82aaff;
$red : #f07178;
$purple : #c792ea;
$orange : #f78c6c;
$cyan : #89ddff;
$gray : #676E95;
$white: #eeffff;
$error : #ff5370